@import "variables"

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: $futura
	font-weight: 400

body
	font-size: 100%
	background: $white

h1
	font-size: 3.5rem
h2
	font-size: 2.5rem
	margin-bottom: 1rem
h3
	font-size: 2rem
	margin-bottom: 0.2em
h4
	font-size: 1.4rem
	margin-bottom: 0.2em
p,a
	font-size: 1.2rem
	line-height: 1.4em

@media(max-width: 750px)
	p,a
		font-size: 1.1rem

a:hover
	color: $dark-grey

.inner
	width: 90%
	max-width: 1200px
	margin: 0 auto
	padding: 0
	position: relative

.content-wrapper
	padding: 4rem 0
	overflow: hidden
@media(max-width: 750px)
	.content-wrapper
		padding: 2rem 0

.center
	text-align: center
.bold
	font-weight: 600

#top-line
	height: 20px
	width: 100%
	display: flex
	.left, .right
		background: $green
		height: 20px
	.left
		width: 200px
		margin-right: 40px
	.right
		// max-width: 1200px
		width: 100%

// --- Icons and logos ---
.icon
	display: block
	padding: 0 0
	text-indent: -9999px
	background-size: 100% 100%
	background-position: center center
	background-repeat: no-repeat
	position: relative

.logo-romsdalsbanken
	background-image: url("../img/icons/romsdalsbanken_st.svg")
	height: 100px

.logo-bfh
	background-image: url("../img/icons/bfh.svg")
	height: 100px

.logo-nessetbanken
	background-image: url("../img/icons/nessetbanken.svg")
	height: 100px
	margin-top: 15px
.plus-icon
	background-image: url("../img/icons/plus-icon-thicker.svg")
	height: 30px
	margin-top: 15px
// End of icons and logos

// --- two-boxes ---
.two-boxes
	overflow: hidden
	display: flex
	align-items: center
	.box
		width: 49%
		// float: left
	.box:first-child
		margin-right: 2%
	p
		margin-bottom: 1rem
	p:last-child
		margin-bottom: 0
@media(max-width: 750px)
	.two-boxes
		flex-direction: column
		.box
			width: 100%
		.box:first-child
			margin-right: 0
			margin-bottom: 2rem
// end of two-boxes

// --- three-boxes ---
.three-boxes
	display: flex
	align-items: center
	justify-content: space-around
	max-width: 800px
	margin: 0 auto
	.box
		display: flex
		flex-direction: column
	// .box:first-child
	// 	border: 1px solid purple
	// .box:nth-child(2)
	// 	border: 1px solid yellow
	// .box:last-child
	// 	border: 1px solid red
@media(max-width: 750px)
	.three-boxes
		flex-wrap: wrap
		.box:first-child
			width: 100%
			h3
				text-align: center
				margin-bottom: 2rem
		.box:nth-child(2)
			width: 50%
		.box:last-child
			width: 50%

@media(max-width: 500px)
	.three-boxes
		.box
			margin-bottom: 2rem
		.box:first-child
			h3
				margin-bottom: 0
		.box:nth-child(2), .box:last-child
			width: 100%
// end of three-boxes

// --- text-section ---
.text-section
	max-width: 500px
	margin: 0 auto
	h3
		color: $blue
	p
		margin-left: 40px
	.text-box
		max-width: 400px
		margin: 0 auto
		margin-bottom: 2rem
	.text-box:last-child
		margin-bottom: 0

@media(max-width: 750px)
	.text-section
		span
			display: block
		p
			margin-left: 0
		.text-box
			max-width: 500px
// end of text-section

// --- centered-text-one-col ---
.centered-text-one-col
	max-width: 500px
	margin: 0 auto
// end of centered-text-one-col

// --- Top section ---
#top-section
	.box
		width: 49%
		float: left

	.box-left
		position: relative
		margin-top: 2rem
		margin-right: 2%
		margin-bottom: 2rem
	.text-content
		padding: 2rem
		background: $green
		color: $white
		max-width: 450px
		margin: 0 auto
		position: relative
	h3 span
		display: block
	p
		opacity: 0.85
	.panel-first
		background: $blue
		height: 420px
		width: 80px
		position: absolute
		left: -20px
		top: -50px
		height: 130%
		z-index: -1
		transition: width 0.2s ease-in-out
	.panel-second
		background: $blue
		height: 130%
		width: 250px
		position: absolute
		left: 100px
		top: -20px
		z-index: -1
		transition: width 0.2s ease-in-out

	.box-right
		margin-top: 5rem
		margin-bottom: 2rem
	.img-content
		max-width: 450px
		position: relative
	.panel-third
		background: $green
		height: 130%
		width: 300px
		position: absolute
		right: 40px
		top: -40px
		z-index: -1
		transition: width 0.2s ease-in-out
		transition: height 0.2s ease-in-out
	img
		width: 100%

	.bank-logos
		clear: both
		max-width: 500px
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		margin: 0 auto
		.icon
			display: inline-block
			width: 33%
			padding: 1%
@media(min-width: 751px) and (max-width: 899px)
	#top-section
		.box-left
			margin-bottom: 4rem

@media(max-width: 900px)
	#top-section
		.panel-first
			width: 64px
			transition: width 0.2s ease-in-out
		.panel-second
			width: 200px
			transition: width 0.2s ease-in-out
		.panel-third
			width: 240px
			// height: 280px
			transition: width 0.2s ease-in-out
			// transition: height 0.2s ease-in-out

@media(max-width: 750px)
	#top-section
		.panel-first, .panel-second, .panel-third
			display: none
		.box
			width: 100%
		.box-left
			margin: 0
		.box-right
			margin-top: 2rem
			margin-bottom: 0
		.img-content
			margin: 0 auto
		.bank-logos
			// max-height: 75px

@media(max-width: 500px)
	#top-section h3 span
		display: inline
// End of top section

// --- why merge ---
#why-merge
	background: $blue
	color: $white
	.box:first-child
		display: flex
		justify-content: center
		align-items: center
	h2 span
		display: block
	p
		max-width: 350px
		opacity: 0.85
@media(max-width: 750px)
	#why-merge
		p
			margin: 0 auto
// end of why merge

// --- What you mean for us ---
#means-for-us
	background: $dark-grey
	color: $white
	h2
		color: $black
		span
			display: block
	p
		max-width: 350px
		margin-bottom: 1rem
		opacity: 0.85
	.box:first-child
		background: $green
		width: 300px
		height: 300px
		display: flex
		justify-content: center
		align-items: center
		margin: 0 auto
		border-radius: 100%
@media(max-width: 750px)
	#means-for-us
		.box:first-child
			margin-bottom: 2rem
		p
			margin: 0 auto
			margin-bottom: 1rem
@media(max-width: 400px)
	#means-for-us
		.box:first-child
			width: 250px
			height: 250px
// End of what you mean for us

// --- Customer section ---
#customers
	.two-boxes
		max-width: 800px
		margin: auto
	p
		max-width: 350px
		margin: 0 auto
// end of customer section

// --- contact-form ---
#contact-form
	background: $beige-light
	p
		max-width: 500px
		margin: 0 auto
		margin-bottom: 1rem
	form
		max-width: 500px
		margin: 0 auto
		input
			padding: 0.5rem
			background-color: $white
			transition: background-color 0.3s ease-in-out
			border: none
			margin-bottom: 0.5rem
		input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder
			color: $black
			opacity: 0.7
			border-radius: 3px
		input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus
			transition: background-color 0.3s ease-in-out
			background-color: $dark-grey
			outline: none
			color: $white
			&::placeholder
				color: $white
		.name
			width: 100%
		.phone, .email
			width: 49%
			float: left
		.phone
			margin-right: 2%
		.checkboxes
			display: inline-block
			margin-top: 0.5rem
			margin-bottom: 1rem
			opacity: 0.7
			position: relative
		input[type="checkbox"]
			position: absolute
			top: 2px
			appearance: none
			width: 0.2rem
			height: 0.2rem
			border: 1px solid white
			background-color: $white
			transition: background-color 0.3s ease-in-out
			outline: none
		input[type="checkbox"]:hover, label:hover
			cursor: pointer
		input[type="checkbox"]:focus
			border: 1px solid $dark-grey
		input[type="checkbox"]:checked
			background-color: $green
			border: 1px solid $green
			transition: background-color 0.3s ease-in-out
			outline: none
		p
			font-size: 1rem
			display: inline
			margin-right: 10px
		label
			margin-left: 22px
			margin-right: 10px
		input[type="submit"]
			width: 100%
			text-transform: uppercase
			background: $green
			color: $white
			font-weight: 600
			padding: 0.75rem 0.5rem
			border-radius: 3px
			transition: background-color 0.3s ease-in-out
			transition: color 0.3s ease-in-out
			&:hover, &:focus
				cursor: pointer
				outline: none
				background-color: $dark-grey
				color: $green
				transition: background-color 0.3s ease-in-out
@media(max-width: 400px)
	#contact-form
		.checkboxes
			p
				margin-bottom: 0.5rem
				display: block
			input[type="checkbox"]
				top: 31px
// end of contact-form

// --- Contact us ---
#contact-us
	background: $beige
// end of contact us

.contact-person
	display: flex
	justify-content: center
	align-items: center
	img
		width: 125px
		height: 125px
		border-radius: 100%
		margin-bottom: 1rem
	a
		text-decoration: none
		color: $white
		&:hover
			// color: $dark-grey
			text-decoration: underline
			text-decoration-color: $white

// --- Contact private ---
#contact-private
	background: $green
	color: $white
// end of contact private

// --- Contact private ---
#contact-business
	background: $blue
	color: $white
// end of contact private
