doctype html
html(lang="no")
	head
		title Tilbehør
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		// jQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		// Styling
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		// Typekit
		<link rel="stylesheet" href="https://use.typekit.net/oik1thr.css">
			
	body
		.inner 
			#top-line
				.left
				.right
			
		section#top-section
			.inner
				.content-wrapper
					span.icon.logo-romsdalsbanken
			
				.box.box-left
					.text-content
						h3 Romsdalsbanken blir <span>født 1 januar 2018</span>
						p Romsdalsbanken er en sammenslutning mellom Nesset Sparebank og Bud Fræna 
							| Hustad Sparebank. Vi skal framstå med de verdier som kjennetegner en sterk lokalbankprofil. 
							| I stor grad videreføres og forsterkes dagens verdier. 
						
						.panel-first
						.panel-second
				
				.box.box-right
					.img-content
						img(src="img/placeholder2.jpg")
						.panel-third
				
				.content-wrapper.bank-logos
					span.icon.logo-bfh
					span.icon.logo-nessetbanken
